.navbar-light {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.w-nav {
  position: relative;
  background: #ddd;
  z-index: 1000;
}

.container-light-nav {
  display: flex;
  max-width: 100% !important;
  object-fit: cover;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.navbar-light-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  flex: 1 1 0%;
  font-weight: 700;
}

.w-nav-brand {
  position: relative;
  float: left;
  color: #333;
}

.company-name-block {
  padding-left: 12px;
  align-self: auto;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex: 0 1 auto;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.nav-link {
  margin-right: 10px;
  padding-right: 40px;
  padding-left: 40px;
  color: #747474;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.navbar-light-navbutton {
  display: flex;
  margin-right: 20px;
  padding: 12px 30px;
  align-self: center;
  flex: 0 1 auto;
  border-radius: 0px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.w-navbutton {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* height: 48vh; */
    position: absolute;
    /* top: -100%; */
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1c2237;
    /* top: 9%; */
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .w-nav-brand {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 150%);
    z-index: 999;
  }

  .navbar-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background: #fff;
    z-index: 998;
  }

  .nav-link {
    color: #fff;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-link:hover {
    border: none;
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 70%);
    font-size: 1.75rem;
    cursor: pointer;
    z-index: 999;
  }

  .navbar-light-navbutton {
    background-color: #fff;
    color: #000;
    z-index: 1;
  }
}
